<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>{{DOCUMENT_TITLE}}</title>
    <link rel="stylesheet" href="./css/styles-corporate.css" />
</head>

<body>
    {{HTML_CONTENT}}
    <!-- <div class="page">
        {{COMPLETE_HEADER_HTML}}
        <main class="body">
            {{PARTIES_HTML}}
            {{DESCRIPTION_HTML}}
            {{DETAILS_INVOICE_HTML}}
            {{TERMS_HTML}}
            {{SIGNATORIES_HTML}}
        </main>
        {{COMPLETE_FOOTER_HTML}}
    </div> -->
</body>

</html>